<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="applianceGroup">
    <mat-form-field class="width-100">
        <mat-label>What appliances would you like to have?</mat-label>
        <input type="text" 
            placeholder="select appliances..." 
            matInput 
            formControlName="appliances" 
            [matAutocomplete]="appliancesAutocomplete">
    </mat-form-field>

    <mat-autocomplete #appliancesAutocomplete="matAutocomplete">
        <mat-option *ngFor="let appliance of filteredAppliances | async" [value]="appliance.applianceName">
            {{appliance.applianceName}}
        </mat-option>
    </mat-autocomplete>

    <!-- input using chips -->
    <mat-form-field class="width-100">
        <mat-label>Select appliances with chips</mat-label>
        <input type="text" matInput formControlName="newAppliances" #applianceInput [matChipInputFor]="chipAppliancesList" [matChipInputSeparatorKeyCodes]="keysCodesConvertInputToMatChip" (matChipInputTokenEnd)="addAppliance($event)">
        <mat-chip-list #chipAppliancesList>
            <mat-chip *ngFor="let newAppliance of newAppliances">{{ newAppliance.applianceName}}</mat-chip>
        </mat-chip-list>
    </mat-form-field>

</mat-dialog-content>

<div> {{ applianceGroup.value | json }}</div>

<mat-dialog-actions>
    <mat-chip-list>
        <mat-chip color="accent">
            <button class="mat-raised-button">save</button>
        </mat-chip>
        <mat-chip>
            <button class="mat-raised-button">close</button>
        </mat-chip>
    </mat-chip-list>
</mat-dialog-actions>


