.chip-list {
    width: 100%;
}

.width-100 {
    width: 100%;
  }
  
  .width-50 {
    width: 50%;
  }
  
  .mr {
    margin-right: 10x !important;
  }
  
  .ml {
    margin-left: 10px !important;
  }
  
  .mb {
    margin-bottom: 10px !important;
  }
  
  .mt {
    margin-top: 10px !important;
  }
  