<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
    <mat-form-field class="chip-list" appearance="fill">
        <mat-chip-list #chipList aria-label="appliance selection">
            <mat-chip *ngFor="let appliance of appliances" (removed)="remove(appliance)">
                {{appliance}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input type="text" matInput placeholder="refactor using form control" formControlName="appliance">
            <input
                placeholder="add appliances..." 
                #applianceInput
                [formControl]="applianceCtrl" 
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option [value]="appliances">
                {{appliances}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</mat-dialog-content>

<div> {{ formGroup.value | json }}</div>

<mat-dialog-actions>
    <mat-chip-list>
        <mat-chip color="accent">
            <button class="mat-raised-button" (click)="save()">save</button>
        </mat-chip>
        <mat-chip>
            <button class="mat-raised-button" (click)="close()">close</button>
        </mat-chip>
    </mat-chip-list>
</mat-dialog-actions>


