<h4>New reservation</h4>

<mat-form-field class="width-50" floatLabel="auto" appearance="outline" color="accent">
    <input type="text" matInput placeholder="Search a place" required="required"/>
    <mat-label>Place</mat-label>
    <mat-hint align="end">Up to 20 characters</mat-hint>
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<!-- <div class="mb">
    <button mat-flat-button color="primary" class="mr">Save</button>
    <button mat-flat-button color="accent" class="mr">Cancel</button>
    <button mat-flat-button color="warn" class="mr">Delete</button>
</div> -->

<div class="mb">
    <button mat-fab color="primary" class="mr">
        <mat-icon>
            <span class="material-symbols-outlined">
                save
            </span>
        </mat-icon>
    </button>
    <button mat-fab color="accent" class="mr">
        <mat-icon>
            <span class="material-symbols-outlined">
                cancel
            </span>
        </mat-icon>
    </button>
    <button mat-fab color="accent" class="mr">
        <mat-icon>
            <span class="material-symbols-outlined">
                delete_forever
            </span>
        </mat-icon>
    </button>
</div>



