<h4>New reservation</h4>
<form [formGroup]="formGroup">
  <div class="flex">
    <div class="box-1">
      <mat-form-field
        class="width-100"
        floatLabel="auto"
        appearance="outline"
        color="accent"
      >
        <input
          type="text"
          matInput
          placeholder="Search a place"
          required="required"
          formControlName="place"
          [errorStateMatcher]="customErrorStateMatcher"
        />
        <mat-label>Place</mat-label>
        <mat-hint align="end">Up to 20 characters</mat-hint>
        <mat-icon matPrefix>search</mat-icon>
        <mat-error
          *ngIf="getFormControl('place').hasError('required')"
          [innerHTML]="getErrorMessage('place', 'required')"
        ></mat-error>
        <mat-error
          *ngIf="getFormControl('place').hasError('maxlength')"
          [innerHTML]="getErrorMessage('place', 'maxlength')"
        ></mat-error>
      </mat-form-field>

      <mat-form-field
        class="width-100"
        floatLabel="auto"
        appearance="outline"
        color="accent"
      >
        <input
          type="text"
          matInput
          placeholder="Search a place"
          required="required"
          formControlName="guestName"
          [errorStateMatcher]="customErrorStateMatcher"
        />
        <mat-label>Guest Name</mat-label>
        <mat-hint align="end">Up to 20 characters</mat-hint>
        <mat-icon matPrefix>person</mat-icon>
        <mat-error
          *ngIf="getFormControl('guestName').hasError('pattern')"
          [innerHTML]="getErrorMessage('guestName', 'pattern')"
        ></mat-error>
        <mat-error
          *ngIf="getFormControl('guestName').hasError('maxlength')"
          [innerHTML]="getErrorMessage('guestName', 'maxlength')"
        ></mat-error>
        <mat-error
          *ngIf="getFormControl('guestName').hasError('required')"
          [innerHTML]="getErrorMessage('guestName', 'required')"
        ></mat-error>
      </mat-form-field>

      <mat-form-field
        class="width-100"
        floatLabel="auto"
        appearance="outline"
        color="primary"
      >
        <mat-select
          required="required"
          formControlName="country"
          [errorStateMatcher]="customErrorStateMatcher"
        >
          <div *ngFor="let country of countries">
            <mat-optgroup *ngIf="country.countryName.startsWith('A')" label="A">
              <mat-option [value]="country.countryName">{{
                country.countryName
              }}</mat-option>
            </mat-optgroup>
            <mat-optgroup *ngIf="country.countryName.startsWith('B')" label="B">
              <mat-option [value]="country.countryName">{{
                country.countryName
              }}</mat-option>
            </mat-optgroup>
            <mat-optgroup *ngIf="country.countryName.startsWith('C')" label="C">
              <mat-option [value]="country.countryName">{{
                country.countryName
              }}</mat-option>
            </mat-optgroup>
            <mat-optgroup *ngIf="country.countryName.startsWith('D')" label="D">
              <mat-option [value]="country.countryName">{{
                country.countryName
              }}</mat-option>
            </mat-optgroup>
          </div>
        </mat-select>
        <mat-label>Country</mat-label>
        <mat-hint align="end">Which country?</mat-hint>
        <mat-icon matPrefix>place</mat-icon>
        <mat-error
          *ngIf="getFormControl('country').hasError('required')"
          [innerHTML]="getErrorMessage('country', 'required')"
        ></mat-error>
      </mat-form-field>

      <mat-form-field
        class="width-100"
        floatLabel="auto"
        appearance="outline"
        color="primary"
      >
        <input
          type="text"
          matInput
          required="required"
          formControlName="city"
          [errorStateMatcher]="customErrorStateMatcher"
          [matAutocomplete]="autoComplete"
        />
        <mat-label>City</mat-label>
        <mat-autocomplete #autoComplete="matAutocomplete">
          <mat-option *ngIf="isCitiesLoading">Loading...</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city.cityName">
            {{ city.cityName }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint align="end">Which city?</mat-hint>
        <mat-icon matPrefix>map</mat-icon>
        <mat-error
          *ngIf="getFormControl('city').hasError('required')"
          [innerHTML]="getErrorMessage('city', 'required')"
        ></mat-error>
      </mat-form-field>

      <div class="ml mt mb">
        <mat-radio-group formControlName="receivePromotionNewsletters">
          <mat-label class="mr">Receive promotion newsletters?</mat-label>
          <mat-radio-button value="yes" class="mr"
            >Yes, Please!</mat-radio-button
          >
          <mat-radio-button value="no" class="mr"
            >No, I'm good!</mat-radio-button
          >
          <mat-error
            *ngIf="
              getFormControl('receivePromotionNewsletters').hasError(
                'required'
              ) && getFormControl('receivePromotionNewsletters').touched
            "
            [innerHTML]="
              getErrorMessage('receivePromotionNewsletters', 'required')
            "
          ></mat-error>
        </mat-radio-group>
      </div>

      <div class="ml mt mb">
        <mat-label>Hobbies:</mat-label>
        <div>
          <mat-checkbox
            formControlName="allHobbies"
            (change)="onChangeAllHobbiesChecked()"
            [indeterminate]="!allHobbiesSelected() && !noHobbySelected()"
            >All</mat-checkbox
          >
        </div>
        <div formArrayName="hobbies">
          <div *ngFor="let hobby of hobbiesFormArray.controls; let i = index">
            <mat-checkbox
              formGroupName="{{ i }}"
              formControlName="{{ i }}"
              color="primary"
              (change)="onHobbyChange(i)"
              >{{ hobbies[i].hobbyName }}</mat-checkbox
            >
          </div>
        </div>
      </div>

      <div class="mt mb mr ml">
        <button mat-fab color="primary" class="mr" type="submit">
          <mat-icon>
            <span class="material-symbols-outlined"> save </span>
          </mat-icon>
        </button>
        <button mat-fab color="accent" class="mr" type="button">
          <mat-icon>
            <span class="material-symbols-outlined"> cancel </span>
          </mat-icon>
        </button>
        <button mat-fab color="accent" class="mr" type="button">
          <mat-icon>
            <span class="material-symbols-outlined"> delete_forever </span>
          </mat-icon>
        </button>
      </div>

      <div>
        {{ formGroup.value | json }}
      </div>
    </div>
    <div class="box-2">
      <mat-form-field
        class="width-100"
        floatLabel="auto"
        appearance="outline"
        color="accent"
      >
        <input
          matInput
          [matDatepicker]="checkInDatePicker"
          required="required"
          [errorStateMatcher]="customErrorStateMatcher"
          [min]="minDate"
          [max]="maxDate"
          formControlName="checkInDate"
          (click)="checkInDatePicker.open()"
        />
        <mat-label>Check in: </mat-label>
        <mat-hint align="end">When would you like to check in?</mat-hint>
        <mat-icon matPrefix>calendar_month</mat-icon>
        <mat-datepicker-toggle matSuffix [for]="checkInDatePicker">
          <mat-icon matDatepickerToggleIcon>arrow_drop_down_circle</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker
          #checkInDatePicker
          startView="month"
          color="primary"
          touchUi="true"
        ></mat-datepicker>
        <mat-error
          *ngIf="getFormControl('checkInDate').hasError('required')"
          [innerHTML]="getErrorMessage('checkInDate', 'required')"
        ></mat-error>
      </mat-form-field>
      <mat-form-field
        class="width-100"
        floatLabel="auto"
        appearance="outline"
        color="accent"
      >
        <input
          matInput
          [matDatepicker]="checkOutDatePicker"
          required="required"
          [min]="minDate"
          [max]="maxDate"
          [errorStateMatcher]="customErrorStateMatcher"
          formControlName="checkOutDate"
          (click)="checkOutDatePicker.open()"
        />
        <mat-label>Check out: </mat-label>
        <mat-hint align="end">When would you like to check out?</mat-hint>
        <mat-icon matPrefix>calendar_month</mat-icon>
        <mat-datepicker-toggle matSuffix [for]="checkOutDatePicker">
          <mat-icon matDatepickerToggleIcon>arrow_drop_down_circle</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker
          #checkOutDatePicker
          startView="month"
          color="warn"
          touchUi="true"
        ></mat-datepicker>
        <mat-error
          *ngIf="getFormControl('checkOutDate').hasError('required')"
          [innerHTML]="getErrorMessage('checkOutDate', 'required')"
        ></mat-error>
      </mat-form-field>
      <mat-form-field
        class="width-100"
        color="warn"
        floatLabel="auto"
        appearance="outline"
      >
        <mat-label>Select a period: </mat-label>
        <mat-hint align="end">Search home by period?</mat-hint>
        <mat-icon matPrefix>calendar_month</mat-icon>
        <mat-date-range-input [rangePicker]="dateRangePicker">
          <input
            matStartDate
            type="text"
            matInput
            formControlName="searchPeriodStart"
          />
          <input
            matEndDate
            type="text"
            matInput
            formControlName="searchPeriodEnd"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="dateRangePicker"
          ><mat-icon matDatepickerToggleIcon
            >arrow_drop_down_circle</mat-icon
          ></mat-datepicker-toggle
        >
        <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
      </mat-form-field>

      <div class="mb mt">
        <mat-label>Price range</mat-label>
        <mat-button-toggle-group formControlName="priceRange">
          <mat-button-toggle value="most affordable">$</mat-button-toggle>
          <mat-button-toggle value="affordable">$$</mat-button-toggle>
          <mat-button-toggle value="upgrade">$$$</mat-button-toggle>
          <mat-button-toggle value="royal">$$$$</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="mr mb mb mt">
        <mat-label class="mr">Must have appliances: </mat-label>
        <button mat-fab color="primary" class="mr" type="button" (click)="openDialog()">
          <mat-icon>
            <span class="material-symbols-outlined">kitchen</span>
          </mat-icon>
        </button>
      </div>

    </div>
  </div>

</form>
